_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/


*.sublime-project
*.sublime-workspace

.DS_Store

_jekyll_s3.yml
s3_website.yml
deploy.sh

post_example.markdown
google[a-zA-Z0-9]*.html
